@import url("./src/styles/component.css");

.registerDiv {
  display: flex;
  justify-content: space-between;
}

.header__Active {
  background-color: var(--grey-color1);
}

.header__Inactive {
  background-color: var(--grey-color2);
}
